<div class="overlay"></div>

<div class="cartModal">
    <h2>Ваш заказ формлен</h2>
    <p>родробности заказа</p>
    <div>
        <p>Товары() на сумму</p>    {{!-- Решить чем лучше воспользоваться grid или table --}}
        <p>35 000 ₽</p>
    </div>
</div>