<div class="modalError">
    <span class="close" onclick="closeModalError()" title="Закрыть Modal">&times;</span>
    <h3>Приносим свои извинения..</h3>
    <p>В данный момент услуги недоступны</p>
    <img src="/img/errorPictures.svg" alt="ошибка">
</div>