<footer>
        <div class="footer-head">
            <div class="footer-left">
                <a href="#"><img class="under-logo" src="/img/logo.png" alt="Логотип " РИО" "></a>
                <div class=" wrapper-massegers">
                    <p class="headText collapsible">Социальные сети и мессенджеры</p>
                    <div class="info">
                        <div class="link-list">
                            <a href=""><img src="/img/whats.svg" alt=""></a>
                            <a href=""><img src="/img/inst.svg" alt=""></a>
                            <a href=""><img src="/img/vk.svg" alt=""></a>
                            <a href=""><img src="/img/twit.svg" alt=""></a>
                        </div>
                        <a href="#phone" class="phone">+7 (989) 322 22 22</a>
                    </div>
                    <a class="politics" href="">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="footer-center">
            <p class="headText collapsible">Товары</p>
            <div class="container info">
                <ul class="hots-links">
                    {{#each footerItems}}
                    <a href="/category/{{this.id}}">
                        <li>{{this.name}}</li>
                    </a>
                    {{/each}}
            </div>
        </div>
        <div class="footer-right">
            <p class="headText collapsible">Услуги</p>
            <ul class="hots-links info">
                <a href="#">
                    <li>Ремонт под ключ</li>
                </a>
                <a href="#">
                    <li>Колировка</li>
                </a>
                <a href="#">
                    <li>Отделка</li>
                </a>
            </ul>
        </div>
        </div>

        <div class="footer-bottom">
            <p>Цены в местах выдачи товаров могут отличаться от цен, указанных на сайте. Внешний вид товаров и упаковки
                может отличаться от изображенных на Сайте</p>

            <p>Обращаем ваше внимание, что данный интернет-сайт и материалы, размещенные на нем, носят исключительно
                информационный характер и ни при каких условиях не являются публичной офертой, определяемой положениями
                статьи 437 Гражданского кодекса РФ</p>
        </div>

    </footer>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/imask.js"></script>
    {{> @partial-block }}