{{#>head}}
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
{{/head}}

<body>

    {{#>loginModal}}{{/loginModal}}
    {{#>header}}{{/header}}

    <div class="line">
        <hr>
    </div>

    <main>
        <article>
            <section class="wrapperCart">
                <h2> Корзина </h2>

                <div class="box-cart">
                    <div class="head-box">
                        <div class="move-box">
                            <label>
                                <input type="checkbox"> Выбрать все
                            </label>
                            <a href="#" class="deleteItem">Удалить выбранные</a>
                        </div>
                        <p class="text">Скидка при покупке от 5 000 – 5%,  10 000 - 10%</p>
                    </div>

                    <div class="line">
                        <hr>
                    </div>

                    <div class="cart-item">
                        <div class="product-box">
                            <div class="left-item">
                                <input type="checkbox">
                                <img class="productImg" src="/img/test1.png" alt="фото продукта">
                                <div class="info-product">
                                    <p class="productName"> Затирка Циризит качество и надежность</p>
                                    <p class="productWeight">400 гр</p>
                                </div>
                            </div>
                            <p class="productPrice">640 ₽</p>
                             <div class="counter">
                                <a class="buttonCountMinus" onclick="minus(this)"><span class="minus">–</span></a>
                                    <div class="buttonCountNumber">1</div>
                                <a class="buttonCountPlus" onclick="plus(this)"><span class="plus">+</span></a>
                            </div>
                        </div>
                        <div class="line">
                             <hr>
                        </div>
                    </div>

                    <div class="cart-item">
                        <div class="product-box">
                            <div class="left-item">
                                <input type="checkbox">
                                <img class="productImg" src="/img/test2.png" alt="фото продукта">
                                <div class="info-product">
                                    <p class="productName">Название этого товара</p>
                                    <p class="productWeight">400 гр</p>
                                </div>
                            </div>
                            <p class="productPrice">642 ₽</p>
                            <div class="counter">
                                <a class="buttonCountMinus" onclick="minus(this)"><span class="minus">–</span></a>
                                    <div class="buttonCountNumber">1</div>
                                <a class="buttonCountPlus" onclick="plus(this)"><span class="plus">+</span></a>
                            </div>
                        </div>
                        <div class="line">
                             <hr>
                        </div>
                    </div>

                    <div class="cart-item">
                        <div class="product-box">
                            <div class="left-item">
                                <input type="checkbox">
                                <img class="productImg" src="/img/test3.png" alt="фото продукта">
                                <div class="info-product">
                                    <p class="productName">Название этого товара</p>
                                    <p class="productWeight">400 гр</p>
                                </div>
                            </div>
                            <p class="productPrice">640 ₽</p>
                            <div class="counter">
                                <a class="buttonCountMinus" onclick="minus(this)"><span class="minus">–</span></a>
                                    <div class="buttonCountNumber">1</div>
                                <a class="buttonCountPlus" onclick="plus(this)"><span class="plus">+</span></a>
                            </div>
                        </div>
                        <div class="line">
                             <hr>
                        </div>
                    </div>
                    
                </div>

                <div class="count-box">
                    <div class="left-count">
                        <p class="weightText">Общий вес заказа 30.7 кг</p>
                        <p class="deliveryText">Доставка от 2000 ₽</p>
                    </div>

                    <div class="right-count">
                        <p class="sumText">Итого: <span class="sum">31 000 ₽</span> </p>
                        <button class="forming">Оформить заказ</button>
                    </div>
                </div>

            </section>
        </article>
    </main>

    {{#>footer}}
        <script src="/js/cart.js"></script>
    {{/footer}}
</body>

</html>