{{#>head}}
<link rel="stylesheet" type="text/css" href="/css/cart.css">
{{/head}}

<body>

    {{#>cartModal}}{{/cartModal}}
    {{#>loginModal}}{{/loginModal}}
    {{#>header}}{{/header}}

    <div class="line">
        <hr>
    </div>

    <main>
        <article>
            <section class="wrapper-cart">
                <h2> Корзина </h2>

                {{#>cartView}}{{/cartView}}
            
            </section>
        </article>
    </main>

    {{#>footer}}
    <script src="/js/cart.js"></script>
    {{/footer}}
</body>

</html>