<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Главная</title>
</head>
<body>
    <header>
            <div class="header-left">
                <img class="logo" src="/img/logo.png">
            </div>
            
            <div class="header-right">
                
                <div class="header-top">
                    <div class="wrapper-search">
                        <form class="form-search" action="">
                            <input type="text" placeholder="Поиск по сайту">
                            <button type="submit"></button>
                        </form>
                    </div>
                    

                    <div class="wrapper-login-shop">
                        <div class="item">
                            <a href="">
                                <img src="/img/Login.svg" alt="">
                                <p>Профиль</p>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">
                                <img src="/img/Shop.svg" alt="">
                                <p>Корзина</p>
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="header-bottom">

                    <a class="catalog" href="">
                        <img src="/img/Burger.svg" alt="">
                        <p>Каталог</p>
                    </a>
                    
                    <nav>
                        <a href="">Кровати и диваны</a>
                        <a href="">Товары для дома</a>
                        <a href="">Кухни</a>
                        <a href="">Потолки</a>
                        <a href="">Строительные смеси</a>
                        <a href="">Кресла качалки</a>
                    </nav>
                </div>


            </div>
            
            
    </header>
</body>
</html>