<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Главная</title>
</head>
<body>
    <header>
            <div class="header-left">
                <a href="#" class="headLink"><img class="logo" src="/img/logo.png"></a>
            </div>
            
            <div class="header-right">
                
                <div class="header-top">
                    <div class="wrapper-search">
                        <form class="form-search" action="">
                            <input type="text" placeholder="Поиск по сайту">
                            <button type="submit"></button>
                        </form>
                    </div>
                    

                    <div class="wrapper-login-shop">
                        <div class="item">
                            <a href="">
                                <img class="icon" src="/img/Login.svg" alt="">
                                <p>Профиль</p>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">
                                <img class="icon" src="/img/Shop.svg" alt="">
                                <p>Корзина</p>
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="header-bottom">

                    <a class="catalog" href="">
                        <img src="/img/Burger.svg" alt="">
                        <p>Каталог</p>
                    </a>
                    
                    <nav>
                        <a href="">Кровати и диваны</a>
                        <a href="">Товары для дома</a>
                        <a href="">Кухни</a>
                        <a href="">Потолки</a>
                        <a href="">Строительные смеси</a>
                        <a href="">Кресла качалки</a>
                    </nav>
                </div>


            </div>
    </header>

    
    <main>
        <article>

            <section class="wrapperSlider">
                <p>Slider</p>
            </section>

            <section class="content">

                <h2>Рекомендации для вас</h2>
                <div class="content-box">
                    <div class="item">
                        <img class="picture" src="/img/tovar.png" alt="товар1">
                        <p class="name">Диван комфорт+</p>
                        <p class="category">Кровати и диваны</p>
                        <p class="price">16 999 ₽</p>
                        <a href="#" class="addBusket">В корзину</a>
                    </div>
                
                    <div class="item">
                        <img class="picture" src="/img/tovar2.png" alt="товар2">
                        <p class="name">Диван комфорт+</p>
                        <p class="category">Кровати и диваны</p>
                        <p class="price">16 999 ₽</p>
                        <a href="#" class="addBusket">В корзину</a>
                    </div>

                    <div class="item">
                        <img class="picture" src="/img/tovar3.png" alt="товар3">
                        <p class="name">Диван комфорт+</p>
                        <p class="category">Кровати и диваны</p>
                        <p class="price">16 999 ₽</p>
                        <a href="#" class="addBusket">В корзину</a>
                    </div>

                    <div class="item">
                        <img class="picture" src="/img/tovar4.png" alt="товар4">
                        <p class="name">Диван комфорт+</p>
                        <p class="category">Кровати и диваны</p>
                        <p class="price">16 999 ₽</p>
                        <a href="#" class="addBusket">В корзину</a>
                    </div>
                </div>
                <a href="#" class="more">Показать ещё</a>
            </section>

            <section class="map">
                <h2>Мы на картах</h2>
                
                <div style="text-align: center; max-width: 1920px;"><a href="https://yandex.ru/maps" target="_blank"><img src="https://yandex.ru/maps/?um=constructor%3A613e31463ca9038288f4922b16d7b6856a358b0ef474d7ebe22febb0b9af8169&source=constructorLink" alt="Студия ремонта РИО"/></a></div>
            </section>

        </article>
        
    </main>

    <footer>
        sdfsdf
    </footer>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A613e31463ca9038288f4922b16d7b6856a358b0ef474d7ebe22febb0b9af8169&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=true"></script>
</body>
</html>