<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <!-- библиотека для таблиц(сортировка, фильтры) -->
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/SemanticUI-2.8.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/DataTables/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/semantic.min.js"></script>
    <script src="/DataTables/datatables.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/dropdown.min.js"></script>
    <script src="/DataTables/SemanticUI-2.8.8/components/transition.min.js"></script>
    <title>Заказы</title>
</head>

<body>
    <div class="back-absolute-for-order">
        <a href="/admin"><img src="/img/Arrow2.svg" alt="стрелка"></a>
    </div>

    <table id="order" class="ui celled table dataTable">

        <thead>
            <th>Номер заказа</th>
            <th>Состав заказа</th>
            <th>Статус</th>
            <th>Цена</th>
            <th>Адрес</th>
            <th>Телефон клиента</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#order').DataTable({
                 ajax: {
                    url: '/admin/order/loadItems',
                    dataSrc: 'data',
                    type: 'POST'
                },
                serverSide: true,
                columns: [
                    { 
                        data: 'id',
                    },
                    { 
                        data: 'orderProducts',
                        render: (data) => {
                            let res = '<ol>'
                            res += data.reduce(
                                    (list, item) => list +`<li>${item.product.productName} - ${item.quantity} шт.</li>`
                            , "")
                            res += '</ol>'
                            return res;
                        },
                        orderable: false
                    },
                    {
                        data: 'completed',
                        render: (data, type, row) => data ? 'Завершен' : `<button id="complete" data-id="${row.id}">Завершить</button>`,
                    },
                    { 
                        data: 'totalCost',
                        orderable: false
                    },
                    {
                        data: 'address',
                        render: (data) => data ? data : 'Самовывоз',
                    },
                    {
                        data: 'user.telephoneNumber',
                    },
                ]
            })
            .on('draw',
                 function() { 
                    $('button#complete').click(async function () {
                        const orderId = this.dataset.id
                        await fetch(`complete/${orderId}`, {
                            method: 'POST',
                        })
                    document.location.reload()
                })
            }
            );
        });
    </script>
    <script>
           
    </script>
</body>

</html>