.wrapper-account{
    padding: 0 calc(50% - 810px);
    margin-bottom: 2vh;
}
.wrapper-account h2{
    margin: 4vh 0;
}
.cart-item{
    margin: 5vh 0;
}
.accountLine{
    background-color:  #9A9A9A; 
    color:  #9A9A9A; 
}
.collapse-box{
    margin-top: 5vh;
}
.head-orders{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.head-orders h3{
    margin-top: 5vh;
}
.head-orders p{
    font-weight: 600;
    letter-spacing: 0.015em;
    color: #262626;
}
.filter-box{
    display: flex;
    align-items: baseline;
    gap: 1vw;
    border-top: 1px solid #9A9A9A;
    border-bottom: 1px solid #9A9A9A;
}
.filter-box div{
    display: flex;
    align-items: baseline;
    gap: 1vw;
}
.filter-box.open::after {
    content: '';
    background-image: url('/img/Arrow2.svg');
    transform: rotate(180deg);
    width: 14px;
    height: 9px;
}
.filter-box::after {
    content: '';
    background-image: url('/img/Arrow2.svg');
    width: 14px;
    height: 9px;
}
.filterText{
    font-size: .875em;
    font-weight: 500;
    color: #9A9A9A;
    letter-spacing: 0.015em;
}
.counter-box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2vh;
}
.buttonCountNumber{
    padding: 0;
}
.priceOne{
    margin: 0;
}
.buttonCountNumber {
    font-size: 1.125em;
    font-weight: 600;
}
.quantityText{
    margin-left: 5px;
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .wrapper-account{
        padding: 0 calc(50% - 690px);
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .wrapper-account{
        padding: 0 calc(50% - 585px);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .wrapper-account{
        padding: 0 calc(50% - 485px);
    }
}

@media (min-width: 768px) and (max-width: 991px) { 
    .wrapper-account{
        padding: 0 calc(50% - 370px);
    }
    .product-box {
        margin: 2.5vh 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) { 
    .wrapper-account{
        padding: 0 calc(50% - 280px);
    }
    .product-box {
        margin: .5vh 0;
        align-items: center;
    }
}

@media (min-width: 375px) and (max-width: 575px) { 
    .wrapper-account{
        padding: 0 calc(50% - 180px);
    }
    .product-box {
        margin: .5vh 0;
        align-items: center;
    }
}

@media (min-width: 320px) and (max-width: 374px) { 
    .wrapper-account{
        padding: 0 calc(50% - 155px);
    }
    .product-box {
        margin: .5vh 0;
        align-items: center;
    }
}