.wrapper-cart{
    padding: 0 calc(50% - 810px);
}
.box-cart{
    margin-top: 3vh;
    padding: 1vw;
}
.head-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5vh;
}
.move-box{
    display: flex;
	align-items: center;
	white-space: nowrap;
    gap: 2vw;
}
.selectAll{
	display: flex;
	align-items: center;
	cursor: pointer;
	white-space: nowrap;
	-webkit-touch-callout: none; /* запрет на выделение текста */
	-webkit-user-select: none;   
	-khtml-user-select: none;    
	-moz-user-select: none;      
	-ms-user-select: none;
	user-select: none;   
}
.deleteItem{
    color: #FF0000;
    letter-spacing: 0.015em;
    font-weight: 500;
}
.text{
    margin: 0;
    color: #9A9A9A;
    letter-spacing: 0.015em;
    font-weight: 400;
}
.product-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.5vh 0;
}
.left-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productImg{
    max-width: 150px;
    max-height: 150px;
	object-fit: cover;
	margin-right: 2vw;
}
.productName{
	width: 380px;
	font-size: 1.125em;
	letter-spacing: 0.015em;
}
.info-product{
    min-width: 380px;
}
.productPrice{
    font-weight: 600;
    font-size: 1.25em;
    letter-spacing: 0.015em;
}
.counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    gap: 6px;
}
.minus, .plus{
    height: 24px;
    font-size: 2em;
}
.counter a{
    cursor: pointer;
}
.buttonCountNumber{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonCountNumber{
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.015em;
}
.count-box{
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
    margin-bottom: 8vh;
	margin-top: 2vh;
}
.weightText, .sumText{
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    margin-bottom: 5px;
}
.deliveryText, .productWeight{
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.015em;
    color: #9A9A9A;
}
.right-count{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.forming{
    width: 200px;
    height: 50px;
    border: 0;
    background: #10AD44;
    border: 2px solid #10AD44;
    border-radius: 8px;
    font-weight: 400;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}
.forming:hover{
    color: #10AD44;
    background: none;
    cursor: pointer;
}
.forming:disabled{
	background-color: #A9A9A9 ;
    color: #DCDCDC ;
    border-color: #707070 ;
	cursor: no-drop;
}
.sum{
    margin-left: 30px;
    font-size: 2em;
    line-height: 39px;
}
.discountText{
    color: #9A9A9A;
    letter-spacing: 0.015em;
    text-decoration-line: line-through;
    font-weight: 600;
    margin: 0 0 20px 30px;
    align-self: center;
}
.priceOne{
	font-weight: 400;
	text-align: right;
	letter-spacing: 0.015em;
	color: #9A9A9A;
}
.input-box{
    display: flex;
    gap: 2vw;
    margin-top: 6vh;
}
.b-contain *, .b-contain *::before, .b-contain *::after{
	box-sizing: content-box;
}

.b-contain input{
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.b-contain span{
	line-height: 1.54;
	font-size: 1em;
	font-family: inherit;
}

.b-contain{
	display: table;
	position: relative;
	padding-left: 1.8rem;
	cursor: pointer;
	margin-bottom: .5rem;
}

.b-contain input[type="radio"] ~ .b-input{
	position: absolute;
	top: 0;
	left: 0;
	height: 1.25rem;
	width: 1.25rem;
	background: rgba(241, 245, 248, 1);
	transition: background 250ms;
	border: 1px solid rgba(184, 194, 204, 1);
	border-radius: 0.724rem;
}

.b-contain input[type="radio"] ~ .b-input::after{
	content: '';
	position: absolute;
	display: none;
	left: .45em;
	top: .18em;
	width: .25em;
	height: .6em;
	border: solid rgba(255, 255, 255, 1);
	border-width: 0 2px 2px 0;
	transition: background 250ms;
	transform: rotate(45deg);
}

.b-contain input:disabled ~ .b-input::after{
	border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after{
	display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input{
	background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input{
	box-shadow: 0 0 0 2px rgba(52,144,220,0.5);
}

.b-contain input:checked ~ .b-input{
	background: #10AD44;;
	border-color: #10AD44;;
}

.b-contain input[type="radio"]:disabled ~ .b-input{
	background: rgba(241, 245, 248, 1);
	border-color: rgba(184, 194, 204, 1);
	opacity: 0.6;
	cursor: not-allowed;
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input{
	background: #10AD44;;
	border-color: #10AD44;;
}

.b-contain .b-input::before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 3em;
	height: 3em;
	margin-left: -0.85em;
	margin-top: -0.85em;
	background: rgba(0, 130, 243, 1);
	border-radius: 2em;
	opacity: .6;
	z-index: 99999;
	transform: scale(0);
}

@keyframes b-ripple{
	0%{
		transform: scale(0);
	}

	20%{
		transform: scale(1);
	}

	100%{
		opacity: 0;
		transform: scale(1);
  	}
}

@keyframes b-ripple-duplicate{
	0%{
		transform: scale(0);
	}
	30% {
		transform: scale(1);
	}
	60% {
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
  	}
}

.b-contain input + .b-input::before{
	animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before{
	animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before{
	visibility: hidden;
}

.b-contain input:focus + .b-input::before{
	visibility: visible;
}

.b-contain:first-child .b-input::before{
	visibility: hidden;
}

.check, #selectAll{
	transform:scale(1.2); /*Equal to scaleX(1.2) scaleY(1.2) */
	opacity:0.9;
	cursor:pointer;
}
.address-box{
	display: none;
}
@keyframes upToDown{
	0%{
		transform: translateY(-50%);
	}
	100%{
		transform: translateY(0);
	}
}
@keyframes downToUp{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
	}
}
.inputAddress{
	height: 40px;
	font-size: 1.025em;
	padding-left: 15px;
	border: 1.5px solid #A9A9A9;
	border-radius: 8px;
	font-weight: 500;
	letter-spacing: 0.015em;
	display: inline-flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
	min-width: 340px;
	max-width: 500px;
	transition: width 1s ease;
}
.inputAddress:focus {
	transition: all 1s ease;
}  
/*modal*/
.overlay{
    display: none;
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.cartModal{
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 8; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 460px; /* Полная ширина */
    background-color: rgba(0,0,0,0.4); /*Черный с непрозрачностью */
    background:  #EEEEEE;
    border-radius: 8px;
	padding: 40px;
	/* animation: text 5s infinite; */
}
.box-item{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.outline{
	background-color:  #DCDCDC; 
    color:  #DCDCDC; 
}
.closeModalCart{
	position: absolute;
    right: 15px;
    top: 10px;
    color: #000;
    font-size: 2.5em;
}
.closeModalCart:hover{
	color: rgb(168, 19, 19);
    cursor: pointer;
}
.textModal{
	letter-spacing: 0.015em;
}
.bold{
	font-weight: 600;
}
.priceModal{
	font-size: 1.5em;
}
@keyframes upToDownCartModal{
	0% {
		transform: translate(-50%, -100%);
	}
	100% {
		transform: translateY(-50%, -50%);
		
	}
}
@keyframes downToUpCartModal{
	0%{
		transform: translate(-50%, -50%);
	}
	100%{
		transform: translate(-50%, -100%);
		opacity: 0;
	}
}

@media (min-width: 1400px) and (max-width: 1600px) { 
	.wrapper-cart{
		padding: 0 calc(50% - 690px);
	}
}

@media (min-width: 1200px) and (max-width: 1399px) { 
	.wrapper-cart{
		padding: 0 calc(50% - 585px);
	}
}

@media (min-width: 992px) and (max-width: 1199px) { 
	.wrapper-cart{
		padding: 0 calc(50% - 485px);
	}
}

@media (min-width: 768px) and (max-width: 991px) { 
	.wrapper-cart{
		padding: 0 calc(50% - 370px);
	}
	.productName{
		width: 200px;
	}
	.info-product{
		min-width: 215px;
	}
	.text, .deleteItem{
		font-size: .9em;
	}
}

@media (min-width: 576px) and (max-width: 767px) { 
	.wrapper-cart{
		padding: 0 calc(50% - 280px);
	}
	.productName{
		width: 180px;
	}
	.info-product{
		min-width: 180px;
	}
	.sum{
		font-size: 1.5em;
	}
	.discountText{
		align-self: flex-end;
	}
	.productImg{
		width: 130px;
		height: 130px;
		object-fit: contain;
		margin-right: 2vw;
	}
	.product-box{
		align-items: baseline;
		margin: 2.5vh 0;
	}
	.count-box{
		margin-top: 2vh;
	}
	.text{
		display: none;
	}
	.counter{
		width: 90px;
		justify-content: space-around;
	}
	.forming{
		width: 180px;
	}
}

@media (min-width: 375px) and (max-width: 575px) { 
	.wrapper-cart{
		padding: 0 calc(50% - 180px);
	}
	.move-box{
		gap: 30vw;
	}
	.productName{
		width: 110px;
		font-size: .99em;
		letter-spacing: normal;
	}
	.info-product{
		min-width: 110px;
	}
	.productImg{
		width: 80px;
		height: 80px;
		object-fit: contain;
	}
	.productPrice{
		font-size: 1.1em;
		letter-spacing: normal;
	}
	.product-box{
		align-items: baseline;
		margin: 2.5vh 0;
	}
	.counter{
		width: auto;
		justify-content: space-around;
	}
	.buttonCountNumber{
		font-size: 1.15em;
	}
	.check, #selectAll {
		transform: scale(1);
	}
	.count-box{
		margin-bottom: 4vh
	}
	.deliveryText{
		font-size: .8em;
		letter-spacing: normal;
	}
	.weightText{
		font-size: 1em;
		letter-spacing: normal;
	}
	.sumText{
		font-size: 1.1em;
		letter-spacing: normal;
		margin-top: 0;
	}
	.sum{
		font-size: 1.2em;
		margin-left: 2px;
	}
	.discountText {
		align-self: auto;
		margin: 0 2px 15px 0;
	}
	.b-contain{
		padding-left: 1.6em;
	}
	.b-contain span{
		font-size: .9em;
		white-space: nowrap;
	}
	.b-contain input[type="radio"] ~ .b-input {
		height: 0.8rem;
		width: 0.8rem;
	}
	.b-contain input[type="radio"] ~ .b-input::after {
		left: 0.4em;
		top: 0.15em;
		width: 0.2em;
		height: 0.5em;
	}
	.input-box{
		margin-top: 4vh;
	}
	.inputAddress{
		min-width: 180px;
		max-width: 222px;
		height: 30px;
		font-size: 1em;
		border: 1px solid #A9A9A9;
	}
	.forming{
		width: 110px;
		height: 35px;
		letter-spacing: normal;
		font-size: 1em;
	}
	.cartModal{
		min-width: 220px;
	}
}

@media (min-width: 320px) and (max-width: 374px) { 
	.wrapper-cart{
		padding: 0 calc(50% - 155px);
	}
	.move-box{
		gap: 30vw;
	}
	.productName{
		width: 100px;
		font-size: .99em;
		letter-spacing: normal;
	}
	.info-product{
		min-width: 100px;
	}
	.productImg{
		width: 70px;
		height: 70px;
		object-fit: contain;
	}
	.productPrice{
		font-size: 1.1em;
		letter-spacing: normal;
	}
	.product-box{
		align-items: baseline;
		margin: 2.5vh 0;
	}
	.counter{
		width: auto;
		justify-content: space-around;
	}
	.buttonCountNumber{
		font-size: 1.15em;
	}
	.check, #selectAll {
		transform: scale(.9);
	}
	.count-box{
		margin-bottom: 4vh
	}
	.deliveryText{
		font-size: .8em;
		letter-spacing: normal;
	}
	.weightText{
		font-size: 1em;
		letter-spacing: normal;
	}
	.sumText{
		font-size: 1.1em;
		letter-spacing: normal;
		margin-top: 0;
	}
	.sum{
		font-size: 1.2em;
		margin-left: 2px;
	}
	.discountText {
		align-self: auto;
		margin: 0 2px 10px 0;
	}
	.b-contain{
		padding-left: 2em;
	}
	.b-contain span{
		font-size: .9em;
		white-space: nowrap;
	}
	.b-contain input[type="radio"] ~ .b-input {
		height: 0.8rem;
		width: 0.8rem;
	}
	.b-contain input[type="radio"] ~ .b-input::after {
		left: 0.45em;
		top: 0.2em;
		width: 0.2em;
		height: 0.5em;
	}
	.input-box{
		margin-top: 4vh;
	}
	.inputAddress{
		min-width: 150px;
		max-width: 200px;
		height: 25px;
		font-size: 1em;
		padding-left: 7px;
		border: 1px solid #A9A9A9;
	}
	.forming{
		width: 95px;
		height: 25px;
		letter-spacing: normal;
		font-size: 1em;
	}
	.cartModal{
		min-width: 180px;
	}
}