.navigation-link, .navigation-link a{
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #9A9A9A;
    transition: color .3s;
}
.navigation-link a:hover{
    color: #1f1d1d;
}
.productDetail-wrapper, .description-wrapper, .specification-wrapper, .navigation-link{
    padding: 0 calc(50% - 810px);
}
.productDetail-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}
.swiper-slide img{
    max-width: 700px;
    height: 500px;
}
.swiper-autoheight, .swiper-autoheight .swiper-slide {
    height: inherit;
}
.mySwiperDetail, .description{
    max-width: 60%;
}
.mySwiperDetail{
    margin: 0;
    border: 2px solid #EEEEEE;;
    border-radius: 8px;
    -webkit-box-shadow: -1px 5px 27px 11px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 5px 27px 11px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 5px 27px 11px rgba(34, 60, 80, 0.2);
}
.product-information{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    /* margin-right: 30px; */
    /* border: 1px solid green; */
}
.btn-box{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}
.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    gap: 6px;
}
.counter img{
    padding: 5px;
}
.counter a{
    cursor: pointer;
}
.buttonCountNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 56px;
    background: #EEEEEE;
    border-radius: 8px;
}
.buttonCountNumber{
    font-size: 1.5em;
}
.delivery-box, .pickup-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group, .stock-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.stock-box p, .delivery-box p, .pickup-box p, .group p{
    display: inline;
    font-size: 1.125em;
    line-height: 22px;
    font-weight: normal;
    letter-spacing: 0.015em;
    color: #001400;
}
.stock-box .text{
    font-weight: 600;
}
.pickup-box .text, .delivery-box .text{
    font-weight: 500;
}
.articul{
    color: #9A9A9A;
    letter-spacing: 0.015em;
    line-height: 20px;
}
.flag{
    font-weight: 600;
    font-size: 1.125em;
    line-height: 22px;
    color: #0978D7;
    margin-top: 30px;
    transition: text-shadow .3s;
}
.flag:hover{
    text-decoration: underline;
}
.description{
    font-size: 1.125em;
    line-height: 150%;
    letter-spacing: 0.015em;
    text-align: justify;
    padding-top: 20px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
#myBtn{
    font-weight: 600;
    font-size: 1.125;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #0978D7;
    cursor: pointer;
}
#more{
    display: none;
}
.specification{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
    margin-bottom: 6vh;
}
dl{
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: nowrap;
}
dt, dd{
    /* display: inline; */
    margin: 0;
    white-space: nowrap;
}
.dots{
    border-bottom: 1.99px dotted #001400;
    content: "";
    width: 100%;
}
/*media*/

@media (min-width: 1400px) and (max-width: 1600px) { 
    .productDetail-wrapper, .description-wrapper, .specification-wrapper, .navigation-link{
        padding: 0 calc(50% - 690px);
    }
}

@media (min-width: 1200px) and (max-width: 1399px) { 
    .productDetail-wrapper, .description-wrapper, .specification-wrapper, .navigation-link{
        padding: 0 calc(50% - 585px);
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .productDetail-wrapper, .description-wrapper, .specification-wrapper, .navigation-link{
        padding: 0 calc(50% - 485px);
    }
    
}

@media (min-width: 768px) and (max-width: 991px) { 
    .productDetail-wrapper, .description-wrapper, .specification-wrapper, .navigation-link{
        padding: 0 calc(50% - 370px);
    }
    .description {
        max-width: 90%;
    }
    .swiper-slide img {
        width: 300px;
        height: 530px;
    }
}

@media (min-width: 576px) and (max-width: 767px) { 
    .productDetail-wrapper, .description-wrapper, .specification-wrapper, .navigation-link{
        padding: 0 calc(50% - 280px);
    }
    .productDetail-wrapper{
        gap: 2vw;
    }
    .description {
        max-width: 90%;
    }
    .product-information {
        max-width: 40%;
        margin-right: 30px;
    }
    .swiper-slide img {
        width: 300px;
        height: 430px;
    }
    .buttonCountNumber {
        width: 45px;
        height: 45px;
    }
    .btn-box {
        gap: 4vw;
    }
    .addBusket{
        white-space: nowrap;
        padding: 0 15px;
        font-size: 1.3em;
    }
    .delivery-box, .pickup-box {
        gap: 3vw;
    }
    .specification {
        max-width: 70%;
    }
}

@media (min-width: 375px) and (max-width: 575px) { 
    .productDetail-wrapper, .description-wrapper, .specification-wrapper, .navigation-link{
        padding: 0 calc(50% - 180px);
    }
    .productDetail-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .description {
        max-width: 100%;
    }
    .swiper-slide img {
        width: 300px;
        height: 430px;
    }
    .mySwiperDetail, .product-information{
        max-width: 100%;
    }
    .btn-box {
        gap: 17vw;
    }
    .addBusket{
        white-space: nowrap;
        padding: 0 15px;
        font-size: 1.3em;
    }
    .delivery-box, .pickup-box {
        gap: 3vw;
    }
    .buttonCountNumber {
        width: 45px;
        height: 45px;
    }
    .counter img {
        width: 17px;
        height: 17px;
    }
    .specification {
        max-width: 80%;
    }
    .flag {
        margin-top: 18px;
    }
}

@media (min-width: 320px) and (max-width: 374px) { 
    .productDetail-wrapper, .description-wrapper, .specification-wrapper, .navigation-link{
        padding: 0 calc(50% - 155px);
    }
    .productDetail-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .description {
        max-width: 100%;
    }
    .swiper-slide img {
        width: 300px;
        height: 330px;
    }
    .mySwiperDetail, .product-information{
        max-width: 100%;
    }
    .btn-box {
        gap: 14vw;
    }
    .addBusket{
        width: 130px;
        height: 44px;
        white-space: nowrap;
        padding: 0 15px;
        font-size: 1.3em;
    }
    .delivery-box, .pickup-box {
        gap: 3vw;
    }
    .buttonCountNumber {
        font-size: 1.8em;
    }
    .buttonCountNumber {
        width: 45px;
        height: 44px;
    }
    .counter img {
        width: 17px;
        height: 17px;
    }
    .specification {
        max-width: 80%;
    }
    .flag {
        margin-top: 18px;
    }
}