body{
    max-width: 1920px;
    padding:0;
    margin: auto;
    font-family: "Montserrat";
    color: #001400;
    font-size: 16px;
    background: #FDFDFD;
}
a{
    text-decoration: none;
    color: #001400;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
}
header{
    max-width: 1620px;
    display: flex;
    padding-top: 1.5vw;
    justify-content: space-between;
    gap: 2vw;
    margin: auto;
    padding-bottom: 2vw;
    margin-bottom: 2vw;
    border-bottom: 2px solid #EEEEEE;
    /* border:1px solid red; */
}
header p{
    display: inline;
}
.header-left{
    display: flex;
    padding-left: 1vw;
}
.logo{
    width: 100%;
}
.header-right{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-right: 1vw;
    /* border: 1px solid green; */
}
.header-top, .header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    /* border: 1px solid orange; */
}
.form-search{
    position: relative;
    padding-right: 22px;
    margin: 0;
}
.wrapper-search {
    border-radius: 12px;
    width: 50%;
}
.wrapper-search input {
    width: 100%;
    height: 42px;
    font-size: 1em;
    padding-left: 16px;
    border: 2px solid #A3A3A3;
    border-radius: 12px;
    outline: none;
}
.wrapper-search button {
    position: absolute; 
    top: 0;
    right: 0;
    width: 57px;
    height: 48px;
    border: none;
    background: #6FB740;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}
.wrapper-search  button:before {
    content: url("/img/Search.svg");
    color: #F9F0DA;
}
.wrapper-login-shop{
    display: flex;
    gap: 1.5vw;
}
.wrapper-login-shop .item a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item .icon{
    width: 24px;
    height: 24px;
}
.wrapper-login-shop p{
    margin-left:13px;
    font-weight: 600;
}
.header-bottom{
    gap: 1vw;
}
.header-bottom .catalog{
    display: flex;
    align-items: center;
    background-color:#EEEEEE;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
}
.header-bottom .catalog img{
    width: 24px;
    height: 24px;
    margin-right:16px;
}
.header-bottom .catalog p{
    font-weight: 600;
}
.header-bottom nav{
    display: flex;
    gap: 2vw;
}
.header-bottom .navigation a{
    text-align:center;
    font-weight: 500;
}
.navigation a:hover{
    padding-bottom: 0.5vw;
    border-bottom: 2px solid #6FB740;
}
main{
    /* border: 1px solid red; */
}
article{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    /* border: 1px solid green; */
}
section{
    
    /* border: 2px solid yellow; */
}
.wrapperSlider{    
    padding: 0 calc(50% - 810px);
    display: flex;
    height: 400px;
    /* border: 2px solid #A3A3A3; */
}
.content{
    padding: 0 calc(50% - 810px);
    display: flex;
    flex-direction: column;
}
.content-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-box .item{
    margin-top: 2vw;
}
.item .picture{
    width: 375px;
    height: 300px;
}
.item .name{
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 2px;
}
.item .category{
    font-weight: normal;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    line-height: 22px;
    margin-top: 2px;
    margin-bottom: 16px;
}
.item .price{
    letter-spacing: 0.015em;
    font-weight: 600;
    font-size: 2em;
    margin-top: 16px;
    margin-bottom: 24px;
}
.item .addBusket{
    width: 165px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #5C5C5C;
    color: #F9F9F9;
    border-radius: 8px;
    font-size: 1.125em;
    font-weight: 500;
    margin-top: 8px;
    border: none;
    cursor: pointer;
}
.more{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #001400;
    font-size: 1.125em;
    background: none;
    letter-spacing: 0.015em;
    border: 2px solid #001400;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px 32px;
    margin: 3vw auto;
    cursor: pointer;
}

.map h2{
    padding: 0 calc(50% - 810px);
    margin-bottom: 3vw;
}

footer{
    padding: 0 calc(50% - 810px);
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
}
.footer-head{
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
    padding-bottom: 3vw;
    border-bottom: 2px solid #9A9A9A;;
}
.footer-left{
    /* border: 2px solid red; */
    display: flex;
    gap: 8vw;
}
.link-list a{
    padding-right:1.5vw;
    vertical-align: middle;
}
.link-list{
    margin-bottom: 1.5vw;
}
.under-logo{
    width: 80px;
    height: 80px;
    /* border: 1px solid black; */
}
.wrapper-massegers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid green; */
}
.wrapper-massegers .headText, .wrapper-massegers .phone, .footer-center .headText, .footer-right .headText{
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    line-height: 22px;
}
.wrapper-massegers .phone, .wrapper-massegers .politics{
    display: block;
    text-decoration: underline;
}
.phone{
    margin-bottom: 6.5vw;
}
.wrapper-massegers .politics{
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.015em;
    
}
.container{
    display: flex;
    gap: 6vw;
}

.hots-links li{
    padding-bottom: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
}
.footer-bottom{
    margin-top: 24px;
    text-align: center;
}
.footer-bottom p{
    font-weight: 300;
    letter-spacing: 0.015em;
    line-height: 20px;
    color: #001400;
}

