html{
    scroll-behavior: smooth; 
}
body{
    max-width: 1920px;
    padding:0;
    margin: 0 auto;
    font-family: "Montserrat";
    color: #001400;
    font-size: 16px;
    background: #FDFDFD;
}
a{
    text-decoration: none;
    color: #001400;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
}
header{
    /* max-width: 1620px; */
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    /* margin: auto; */
    padding: 1.5vw calc(50% - 810px) 2vw calc(50% - 810px);
    /* border-bottom: 2px solid #EEEEEE; */
}
header p{
    display: inline;
}

.hide {
    display: none;
}

.show {                      /* для catalogContent*/
    display: flex !important;
}

.header-left{
    display: flex;
}
.logo{
    width: 100%;
}
.headLink{
    /* display: block; */
    /* width: 100%; */
}
.header-right{
    width: 80%;
    display: flex;
    flex-direction: column;
    /* margin-right: 1vw;      прилипает на ноуте*/
}
.header-top, .header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}
.form-search{
    position: relative;
    padding-right: 22px;
    margin: 0;
}
.wrapper-search {
    border-radius: 12px;
    width: 50%;
}
.wrapper-search input {
    width: 100%;
    height: 42px;
    font-size: 1em;
    padding-left: 16px;
    border: 2px solid #A3A3A3;
    border-radius: 12px;
    outline: none;
}
.wrapper-search button {
    position: absolute; 
    top: 0;
    right: 0;
    width: 57px;
    height: 48px;
    border: none;
    background: #6FB740;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}
.wrapper-search button:before {
    content: url("/img/Search.svg");
    color: #F9F0DA;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
}
.wrapper-login-shop{
    display: flex;
    gap: 1.5vw;
    align-items: baseline;
}
.wrapper-login-shop .item{
    position: relative;
}
.wrapper-login-shop .item a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: text-shadow .3s;
}
.wrapper-login-shop .item a:hover{
    /* font-size: 1.0125em;  */ 
    cursor: pointer;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;     
}
.item .dropdown-content{
    display: none;
    position: absolute;
    padding-top: 10px;
    background-color: #f1f1f1;
    max-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
    top: 38px;
    left: -10px;
    border-radius: 8px;
}
.item .dropdown-content a{
    padding: 10px 12px;
    white-space: nowrap;
    display: block;
}
.item .icon{
    width: 24px;
    height: 24px;
    transition: text-shadow .3s;
}
.wrapper-login-shop p{
    margin-left:13px;
    font-weight: 600;
    color: #001400;
}
.header-bottom{
    gap: 1vw;
}
.header-bottom .catalogButton img{
    width: 24px;
    height: 24px;
    margin-right:16px;
}
.header-bottom .catalogButton p{
    font-weight: 600;
    color: #001400;
    margin: 0;
}
.header-bottom .navigation{
    display: flex;
    gap: 2vw;
    white-space: nowrap;
}
.header-bottom .navigation a{
    text-align:center;
    font-weight: 500;
}
.navigation a:hover{
    padding-bottom: 0.5vw;
    border-bottom: 2px solid #6FB740;
}
.line{
    padding: 0 calc(50% - 810px);
}
hr{
    border: none; 
    background-color: #EEEEEE; 
    color: #EEEEEE; 
    height: 2px;
    margin: 0;
}
main{
    /* border: 1px solid red; */
}
#scrollTop{
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 999;
    background: #EEEEEE;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}
#scrollTop img{
    width: 25px;
    height: 25px;
}
/* отображение стрелки "подняться вверх" */
.isScrollShow{
    opacity: 1;
    transition: .4s;
}
.hideBtn{
    opacity: 0;
}
article{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 2.5vw;
    /* border: 1px solid green; */
}
.wrapperSlider{    
    padding: 0 calc(50% - 810px);
}
.swiper{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.swiper-slide{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-shadow: 11px -16px 78px 87px rgba(161, 161, 161, 0.22);
    -moz-box-shadow: 11px -16px 78px 87px rgba(161, 161, 161, 0.22);
    box-shadow: 11px -16px 78px 87px rgba(161, 161, 161, 0.22);
}
.info-box{
    margin: auto auto auto 10% ;
    border-radius: 8px;
}
.info-box h3{
    max-width: 350px;
    margin-bottom: 4vh;
}

.info-box .moreInfo{
    width: 250px;
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    color: #001400;
    padding: 16px 54px;
    border: 2px solid #001400;
    border-radius: 8px;
    margin-top: 4vh;
}
.info-box .moreInfo:hover{
    color: #EEEEEE;
    background-color: #001400;
}
.swiper-slide img{
    display: block;
    width: 60%;
    max-height: 600px;
    object-fit: contain;
}
.swiper-pagination-bullet{
    width: 9px;
    height: 9px;
}

.swiper-pagination-bullet-active{
    background-color: #6FB740;
    width: 11px;
    height: 11px;
}
.content{
    /* margin-left: 1vw;    прилипает на ноуте
    margin-right: 1vw; */
    padding: 0 calc(50% - 810px);
    display: flex;
    flex-direction: column;
    
}
.content h2{
    /* margin-top: 70px; */
}
.content-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5vh;
}
.content-box .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vw;
    border-radius: 8px;
}
.item .picture{
    display: block;
    width: 375px;
    height: 300px;
    object-fit: contain;
    margin: auto;
}
.item .name{
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 2px;
}
.item .category{
    font-weight: normal;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    line-height: 22px;
    margin-top: 2px;
    margin-bottom: 16px;
}
.item .price, .price{
    letter-spacing: 0.015em;
    font-weight: 600;
    font-size: 2em;
    margin-top: 16px;
    margin-bottom: 24px;
}
.item .addBusket, .addBusket{
    width: 165px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #599233;
    border: 2px solid #599233;
    color: #F9F9F9;
    border-radius: 8px;
    font-size: 1.125em;
    font-weight: 500;
    cursor: pointer;
}
.item .addBusket:hover, .addBusket:hover{
    background: none;
    color: #599233;
}
.more{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #001400;
    font-size: 1.125em;
    background: none;
    letter-spacing: 0.015em;
    border: 2px solid #001400;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px 32px;
    margin: 3vw auto;
    cursor: pointer;
}
.more:hover{
    background-color:#001400;
    color: white;
}
.map-box{
    background-color: #F9F9F9;
}
.map h2{
    padding: 0 calc(50% - 810px);
    margin-bottom: 3vh;
}
footer{
    padding: 0 calc(50% - 810px);
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
}
.footer-head{
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
    padding-bottom: 3vw;
    border-bottom: 2px solid #9A9A9A;;
}
.footer-left{
    /* border: 2px solid red; */
    display: flex;
    gap: 8vw;
}
.link-list a{
    padding-right:1.5vw;
    vertical-align: middle;
}
.link-list{
    margin-bottom: 1.5vw;
}
.under-logo{
    width: 80px;
    height: 80px;
    /* border: 1px solid black; */
}
.wrapper-massegers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid green; */
}
.wrapper-massegers .headText, .wrapper-massegers .phone, .footer-center .headText, .footer-right .headText{
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    line-height: 22px;
}
.wrapper-massegers .phone, .wrapper-massegers .politics{
    display: block;
    text-decoration: underline;
}
.phone{
    margin-bottom: 6.5vw;
}
.wrapper-massegers .politics{
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.015em;
    
}
.container{
    display: flex;
    gap: 6vw;
}

.hots-links a li{
    display: block;
    padding-bottom: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    transition: text-shadow .3s;  /*анимация может тормозить*/
}
.hots-links li:hover{
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.footer-bottom{
    margin-top: 24px;
    text-align: center;
}
.footer-bottom p{
    font-weight: 300;
    letter-spacing: 0.015em;
    line-height: 20px;
    color: #001400;
}

/*Модалка для входа и регистрации*/

/* класс для body при открытой модалке*/
/* .shadow{
    filter: blur(16px);
} */

.modal{
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 8; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 460px; /* Полная ширина */
    background-color: rgba(0,0,0,0.4); /*Черный с непрозрачностью */
    background: #F9F9F9;
    border-radius: 8px;
}
.head-modal{
    padding-top: 60px;
    padding-left: 80px;
}
.overlay{
    display: none;
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
#close{
    position: absolute;
    right: 5px;
    top: -4px;
    font-size: 2.5em;
    color: #000;
}
.close, .closeCatalog{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 3em;
}
.close:hover, .close:focus, .closeCatalog:hover, .closeCatalog:focus, #close:hover, #close:focus{
    color: rgb(168, 19, 19);
    cursor: pointer;
}
.modal-content-login, .modal-content-register{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 80px 80px 80px;
}
.modal-content-register{
    display: none;
}
.login-btn, .reg-btn{
    border: 0;
    background-color: none;
    text-transform: uppercase;
    color: #001400;
    font-weight: 600;
    letter-spacing: 0.015em;
    font-size: 1.125em;
    cursor: pointer;
}
.login-btn{
    margin-right: 32px;
}
.active{
    padding-bottom: 0.5vw;
    border-bottom: 2px solid #6FB740;
}
.name[type=text], .password[type=password], .telPhone[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1em;
    display: inline-block;
    border: 2px solid #9A9A9A;
    box-sizing: border-box;
    border-radius: 8px;
}
.save{
    display: flex;
    align-items: center;
    align-self: start;
}
.checkbox[type=checkbox]{
    cursor: pointer;
    width: 19px;
    height: 19px;
    margin-right: 8px;   
}
.singIn{
    background: #6FB740;
    border: none;
    border-radius: 8px;
    width: 301px;
    height: 56px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}
.singIn:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
}

/*каталог*/

.catalogDropdown {
    /* overflow: hidden; */
}
.header-bottom .catalogButton{
    display: flex;
    align-items: center;
    background-color:#EEEEEE;
    border-radius: 4px;
    padding: 12px 12px;
    cursor: pointer;
}
.catalogContent {
    display: none;
    position: absolute;
    background-color: #EEEEEE;
    width: 84vw;
    max-height: 628px;
    margin-top: 45px;
    left: 7.4vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 6;
    -webkit-box-shadow: 0px -2px 50px -5px rgba(58, 58, 58, 0.6);
    -moz-box-shadow: 0px -2px 50px -5px rgba(58, 58, 58, 0.6);
    box-shadow: 0px -2px 50px -5px rgba(58, 58, 58, 0.6);
}
.category-box{
    display: flex;
}
.sirvices-box{
    display: flex;
    flex-direction: column;
    margin: 12px 10px 28px 28px;
    border-left: 2px solid #9A9A9A;
    padding-left: 15px;
    white-space: nowrap;
}
.headText{
    font-weight: 500;
    font-size: 1.25em;
    line-height: 24px;
    letter-spacing: 0.015em;
    margin: 16px 0;
}
.child-list, .services-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.child-list .item, .services-list .item{
    font-size: 1.025em;
    line-height: 22px;
    letter-spacing: 0.015em;
}
.services-list .item{
    padding: 8px 16px;
    font-size: 1.125em;
    letter-spacing: 0.015em;
    
}
.services-list .item:hover{
    background: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
.child-list .item:hover{
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.categories-box{
    display: flex;
    flex-direction: column;
    margin: 12px 10px 28px 28px;
    overflow-y: auto;
    scrollbar-width: thin; /*работает в firefox*/
    scrollbar-color: #9A9A9A #EEEEEE;
}
.categories-box::-webkit-scrollbar {
    width: 5px;
}
.categories-box::-webkit-scrollbar-track {
    background-color: #EEEEEE;
    
}
.categories-box::-webkit-scrollbar-thumb {
    background-color: #9A9A9A;
    border-radius: 4px;
    /* box-shadow: inset 0 0 6px rgba(32, 31, 31, 0.3); */
}
.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 25px;
    gap: 5vw;
    margin-right: 5px;
}
.product-item{
    display: flex;
    flex-direction: column;
}
.childText{
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.015em;
}


/* !!!! Добавить анимацию масштабирования для формы в модалке */
.animate {
    -webkit-animation: animatezoom 0.7s;
    animation: animatezoom 0.7s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@keyframes upToDown{
	0%{
		transform: translateY(-50%);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes downToUp{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(-50%);
		opacity: 0;
        /* visibility: hidden; */
	}
}

/*media*/

@media (min-width: 1400px) and (max-width: 1600px) { 
    header{
        padding: 1.5vw calc(50% - 690px) 2vw calc(50% - 690px);
    }
    .line{
        padding: 0 calc(50% - 690px);
    }
    .wrapperSlider{
        padding: 0 calc(50% - 690px);
    }
    .content{
        padding: 0 calc(50% - 690px);
    }
    .content-box{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .map h2{
        padding: 0 calc(50% - 690px);
    }
    footer{
        padding: 0 calc(50% - 690px);
    }
    .catalogContent{
        width: 100%;
        left: 0;
    }
    
}
@media (min-width: 1200px) and (max-width: 1399px) {
    header{
        padding: 1.5vw calc(50% - 585px) 2vw calc(50% - 585px);
    }
    .line{
        padding: 0 calc(50% - 585px);
    }
    .wrapperSlider{
        padding: 0 calc(50% - 585px);
    }
    .content{
        padding: 0 calc(50% - 585px);
    }
    .content-box{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .map h2{
        padding: 0 calc(50% - 585px);
    }
    footer{
        padding: 0 calc(50% - 585px);
    }
    .container{
        gap: 2vw;
    }
    .catalogContent{
        width: 100%;
        left: 0;
        margin-top: 37px;
    }
    .swiper-slide img{
        height: 525px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    header{
        padding: 1.5vw calc(50% - 485px) 2vw calc(50% - 485px);
    }
    .line{
        padding: 0 calc(50% - 485px);
    }
    .wrapperSlider{
        padding: 0 calc(50% - 485px);
    }
    .content{
        padding: 0 calc(50% - 485px);
    }
    .content-box{
        grid-template-columns: 1fr 1fr;
    }
    .map h2{
        padding: 0 calc(50% - 485px);
    }
    footer{
        padding: 0 calc(50% - 485px);
    }
    .footer-left, .container{
        gap: 2.5vw;
    }
    .item .picture{
        width: 300px;
        height: 250px;
    }
    .catalogContent{
        width: 100%;
        left: 0;
        margin-top: 37px;
    }
    .swiper-slide img{
        height: 420px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    header{
        padding: 1.5vw calc(50% - 370px) 2vw calc(50% - 370px);
    }
    .header-left{
        width: 15%;
    }
    .line{
        padding: 0 calc(50% - 370px);
    }
    .wrapperSlider{
        padding: 0 calc(50% - 370px);
    }
    .content{
        padding: 0 calc(50% - 370px);
    }
    .content-box{
        grid-template-columns: 1fr 1fr;
    }
    .map h2{
        padding: 0 calc(50% - 370px);
    }
    footer{
        padding: 0 calc(50% - 370px);
    }
    .footer-head{
        gap: 1vw;
    }
    .footer-left, .container{
        gap: 2.5vw;
    }
    .item .picture{
        width: 300px;
        height: 250px;
    }
    .catalogButton .text{
        display: none;
    }
    .header-bottom .catalogButton {
        background-color: transparent;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .header-bottom .catalogButton img {
        margin-right: 0;
    }
    .header-bottom{
        gap: 4vw;
    }
    .wrapper-search button{
        width: 40px;
        height: 41px;
    }
    .wrapper-search input{
        height: 35px;
    }
    .info-box .moreInfo {
        padding: 12px;
    }
    .catalogContent{
        width: 100%;
        left: 0;
        margin-top: 20px;
    }
    .product-list{
        grid-template-columns: 1fr 1fr;
    }
    .swiper-slide img{
        height: 285px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    body{
        font-size: 14px;
    }
    header{
        align-items: center;
        padding: 1.5vw calc(50% - 280px) 2vw calc(50% - 280px);
    }
    .header-left{
        width: 15%;
    }
    .line{
        padding: 0 calc(50% - 280px);
    }
    .wrapperSlider{
        padding: 0 calc(50% - 280px);
    }
    .content{
        padding: 0 calc(50% - 280px);
    }
    .content-box{
        grid-template-columns: 1fr;
    }
    .map h2{
        padding: 0 calc(50% - 280px);
    }
    footer{
        padding: 0 calc(50% - 280px);
    }
    .footer-head{
        /* flex-direction: column; */
        flex-flow: wrap;
        justify-content: space-around;
        gap: 0.5vw;
    }
    .footer-left{
        gap: 10vw;
    }
    .footer-left, .container{
        align-items: center;
    }
    .footer-center, .footer-right{
        order: -2;
    }
    .item .picture{
        width: 300px;
        height: 250px;
    }
    .catalogButton .text{
        display: none;
    }
    .header-bottom .catalogButton {
        background-color: transparent;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .header-bottom .catalogButton img {
        margin-right: 0;
    }
    .header-bottom{
        gap: 4vw;
    }
    .wrapper-search button{
        width: 31px;
        height: 33px;
    }
    .wrapper-search input{
        height: 30px;
    }
    .info-box .moreInfo {
        padding: 10px;
        border: 1px solid #001400;
    }
    .catalogContent{
        width: 100%;
        left: 0;
        margin-top: 20px;
    }
    .product-list{
        grid-template-columns: 1fr;
    }
    .categories-box, .sirvices-box {
        margin: 12px 10px 10px 10px;
    }
    .headText{
        margin: 5px 0;
    }
    .swiper-slide img{
        height: 225px;
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    .swiper-pagination-bullet-active {
        width: 9px;
        height: 9px;
    }
    .header-bottom .navigation{
        display: none;
    }
    .header-right {
        flex-direction: row;
        justify-content: space-between;
        gap: 2vw;
    }
    .header-bottom {
        order: -1;
    }
    .logo {
        width: 60px;
    }
    .text{
        display: none;
    }
    .wrapper-search button:before {
        content: url(/img/Search2.svg);
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }
    .wrapper-search input {
        border: 1px solid #A3A3A3;
    }
    .under-logo {
        width: 120px;
        height: 120px;
    }
    .item .dropdown-content{
        left: -60px;
    }
}
@media (min-width: 375px) and (max-width: 575px) {  

    body{
        font-size: 12px;
    }
    header{
        align-items: center;
        padding: 1.5vw calc(50% - 180px) 2vw calc(50% - 180px);
    }
    .header-left{
        width: 15%;
    }
    .line{
        padding: 0 calc(50% - 180px);
    }
    .wrapperSlider{
        padding: 0 calc(50% - 180px);
    }
    .content{
        padding: 0 calc(50% - 180px);
    }
    .content-box{
        grid-template-columns: 1fr;
    }
    .map h2{
        padding: 0 calc(50% - 180px);
    }
    footer{
        padding: 0 calc(50% - 180px);
    }
    .footer-head{
        /* flex-direction: column; */
        flex-flow: wrap;
        justify-content: space-around;
        gap: 0.5vw;
    }
    .footer-left{
        gap: 10vw;
    }
    .footer-left, .container{
        align-items: center;
    }
    .footer-center, .footer-right{
        order: -2;
    }
    .item .picture{
        width: 300px;
        height: 250px;
    }
    .catalogButton .text{
        display: none;
    }
    .header-bottom .catalogButton {
        background-color: transparent;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .header-bottom .catalogButton img {
        margin-right: 0;
    }
    .header-bottom{
        gap: 4vw;
    }
    .wrapper-search button{
        width: 26px;
        height: 31px;
    }
    .wrapper-search input{
        height: 27px;
    }
    .info-box .moreInfo {
        padding: 10px;
        border: 1px solid #001400;
    }
    .catalogContent{
        width: 100%;
        left: 0;
        margin-top: 15px;
    }
    .product-list{
        grid-template-columns: 1fr;
    }
    .category-box {
        flex-direction: column;
    }
    .categories-box, .sirvices-box {
        margin: 12px 10px 10px 10px;
    }
    .headText{
        margin: 5px 0;
    }
    .info-box{
        margin: auto auto auto 5%;
    }
    .info-box h3{
        margin-bottom: 1.5vh;
    }
    .info-box .moreInfo{
        padding: 6px;
    }
    .swiper-slide img{
        height: 161px;
    }
    .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
    }
    .swiper-pagination-bullet-active {
        width: 8px;
        height: 8px;
    }
    .header-bottom .navigation{
        display: none;
    }
    .item .icon, .header-bottom .catalogButton img{
        width: 20px;
        height: 20px;
    }
    .header-right {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2vw;
    }
    .header-bottom {
        order: -1;
    }
    .logo {
        width: 60px;
    }
    .text{
        display: none;
    }
    .wrapper-search button:before {
        content: url(/img/Search3.svg);
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }
    .wrapper-search input {
        border: 1px solid #A3A3A3;
        padding-left: 10px;
    }
    .under-logo {
        width: 120px;
        height: 120px;
    }
    .item .addBusket{
        width: 135px;
        height: 35px;
    }
    .item .price{
        margin-bottom: 8px;
    }
    .head-modal {
        padding-top: 45px;
        padding-left: 85px;
    }
    .modal-content-login, .modal-content-register{
        gap: 10px;
        padding: 20px 25px 20px 25px;
    }
    .name[type=text], .password[type=password], .telPhone[type=tel]{
        padding: 10px 20px;
        border: 1px solid #9A9A9A;
    }
    .singIn{
        height: 45px;
    }
    .item .picture {
        width: 255px;
        height: 200px;
    }
    .content{
        gap: 5vh;
    }
    .more{
        padding: 10px 25px;
        border: 1px solid #001400;
    }
    /*выпадашка*/
    footer .headText{
        cursor: pointer;
    }
    footer .headText::after{
        content: '\002B';
        color: black;
        font-size: 1.5em;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        cursor: pointer;
    }
    footer .headText.open::after{
        content: "\2212";
    }
    .under-logo{
        display: none;
    }
    .link-list{
        margin-top: 2vh;
    }
    .hots-links a li{
        padding: 2px 4px 2px 4px;
    }
    .footer-left{
        display: block;
    }
    .footer-head{
        flex-direction: column;
    }
    .info{
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        /* background-color: #f1f1f1; */
    }
    .item .dropdown-content{
        left: -55px;
    }
}
@media (min-width: 320px) and (max-width: 374px) { 
    body{
        font-size: 10px;
    }
    header{
        align-items: center;
        padding: 1.5vw calc(50% - 155px) 2vw calc(50% - 155px);
    }
    .header-left{
        width: 15%;
    }
    .line{
        padding: 0 calc(50% - 155px);
    }
    .wrapperSlider{
        padding: 0 calc(50% - 155px);
    }
    .content{
        padding: 0 calc(50% - 155px);
    }
    .content-box{
        grid-template-columns: 1fr;
    }
    .map h2{
        padding: 0 calc(50% - 155px);
    }
    footer{
        padding: 0 calc(50% - 155px);
    }
    .footer-head{
        /* flex-direction: column; */
        flex-flow: wrap;
        justify-content: space-around;
        gap: 0.5vw;
    }
    .footer-left{
        gap: 10vw;
    }
    .footer-left, .container{
        align-items: center;
    }
    .footer-center, .footer-right{
        order: -2;
    }
    .wrapper-login-shop{
        gap: 2.5vw;
    }
    .catalogButton .text{
        display: none;
    }
    .header-bottom .catalogButton {
        background-color: transparent;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .header-bottom .catalogButton img {
        margin: 0 1.5vw;
    }
    .header-bottom{
        gap: 4vw;
    }
    .wrapper-search button{
        width: 25px;
        height: 26px;
    }
    .wrapper-search input{
        height: 22px;
        padding-left: 7px;
        border: 1px solid #A3A3A3;
    }
    .info-box .moreInfo {
        padding: 10px;
        border: 1px solid #001400;
    }
    .catalogContent{
        width: 100%;
        left: 0;
        margin-top: 15px;
    }
    .product-list{
        grid-template-columns: 1fr;
    }
    .category-box {
        flex-direction: column;
    }
    .categories-box, .sirvices-box {
        margin: 12px 10px 10px 10px;
    }
    .headText{
        margin: 5px 0;
    }
    .info-box{
        margin: auto auto auto 5%;
    }
    .info-box h3{
        margin-bottom: 1.5vh;
    }
    .info-box .moreInfo{
        padding: 6px;
    }
    .swiper-slide img{
        height: 139px;
    }
    .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
    }
    .swiper-pagination-bullet-active {
        width: 6px;
        height: 6px;
    }
    .header-bottom .navigation{
        display: none;
    }
    .item .icon, .header-bottom .catalogButton img{
        width: 20px;
        height: 20px;
    }
    .header-right {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2vw;
    }
    .header-bottom {
        order: -1;
    }
    .logo {
        width: 60px;
    }
    .text{
        display: none;
    }
    .wrapper-search button:before {
        content: url(/img/Search3.svg);
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }
    .under-logo {
        width: 120px;
        height: 120px;
    }
    .item .addBusket{
        width: 120px;
        height: 35px;
    }
    .item .price{
        margin-bottom: 4px;
    }
    .item .category{
        line-height: 10px;
        font-size: 1.2em ;
    }
    .item .name{
        margin-top: 10px;
        font-size: 1.2em ;
    }
    .item .addBusket{
        font-size: 1.2em ;
    }
    .head-modal {
        padding-top: 45px;
        padding-left: 85px;
    }
    .modal-content-login, .modal-content-register{
        gap: 10px;
        padding: 20px 25px 20px 25px;
    }
    .name[type=text], .password[type=password], .telPhone[type=tel]{
        padding: 10px 20px;
        border: 1px solid #9A9A9A;
    }
    .singIn{
        height: 45px;
    }
    .item .picture{
        width: 200px;
        height: 155px;
    }
    .content{
        gap: 5vh;
    }
    .more{
        padding: 10px 25px;
        border: 1px solid #001400;
    }
    /*выпадашка*/
    footer .headText{
        cursor: pointer;
    }
    footer .headText::after{
        content: '\002B';
        color: black;
        font-size: 1.5em;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        cursor: pointer;
    }
    footer .headText.open::after{
        content: "\2212";
    }
    .under-logo{
        display: none;
    }
    .link-list{
        margin-top: 2vh;
    }
    .hots-links a li{
        padding: 2px 4px 2px 4px;
    }
    .footer-left{
        display: block;
    }
    .footer-head{
        flex-direction: column;
    }
    .info{
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        /* background-color: #f1f1f1; */
    }
    .item .dropdown-content{
        left: -55px;
    }
    #scrollTop img {
        width: 15px;
        height: 15px;
    }
}

